<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.auth.mapper.AuthMapper">

    <select id="selectPermTokenByUserId" resultType="string">
        SELECT DISTINCT(m.perms)
        FROM sys_menu m,
             sys_role_menu rm,
             sys_user_role r
        WHERE r.user_id = #{userId}
          AND rm.role_id = r.role_id
          AND m.menu_id = rm.menu_id
          AND m.perms != ''
    </select>

    <select id="selectRolesByUserId" resultType="string">
        SELECT DISTINCT (r.role_key)
        FROM sys_role r, sys_user_role ur
        WHERE r.role_id = ur.role_id
        AND ur.user_id = #{userId}
    </select>
</mapper>
