<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.system.mapper.SysMenuMapper">

    <select id="selectMenuTypeMCByUserId" resultType="com.you.system.model.SysMenu">
        SELECT DISTINCT m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.query_param, m.visible, m.status,
        m.perms, m.is_frame, m.is_cache, m.menu_type, m.icon, m.order_num, m.create_time
        FROM sys_menu m
        LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        LEFT JOIN sys_user_role sur ON rm.role_id = sur.role_id
        LEFT JOIN sys_role ro ON sur.role_id = ro.role_id
        LEFT JOIN sys_user u ON sur.user_id = u.user_id
        <where>
            <if test="userId != null">
                u.user_id = #{userId}
            </if>
            AND m.menu_type IN ('M', 'C')
            AND m.status = '0'
            AND ro.status = '0'
        </where>
        ORDER BY m.parent_id, m.order_num
    </select>


    <select id="selectMenuByUserId" resultType="com.you.system.model.SysMenu">
        SELECT DISTINCT m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.query_param, m.visible, m.status,
        m.perms, m.is_frame, m.is_cache, m.menu_type, m.icon, m.order_num, m.create_time
        FROM sys_menu m
        LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        LEFT JOIN sys_user_role sur ON rm.role_id = sur.role_id
        left join sys_role ro ON sur.role_id = ro.role_id
        left join sys_user u ON sur.user_id = u.user_id
        <where>
            <if test="userId != null">
                u.user_id = #{userId}
            </if>
            AND m.status = '0'
            AND ro.status = '0'
        </where>
        ORDER BY m.parent_id, m.order_num
    </select>

    <select id="selectMenuList" resultType="com.you.system.model.SysMenu">
        SELECT menu_id, menu_name, parent_id, order_num, perms, component, status, create_time
        FROM sys_menu
        <where>
            <if test="qo.menuName != null and qo.menuName != ''">
                AND menu_name LIKE CONCAT('%',#{qo.menuName},'%')
            </if>
            <if test="qo.status != null and qo.status != ''">
                AND status = #{qo.status}
            </if>
        </where>
        ORDER BY order_num
    </select>
</mapper>
