<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.system.mapper.SysPostMapper">

    <select id="listPage" resultType="com.you.system.domain.model.SysPost">
        SELECT post_id ,post_code ,post_name, post_sort, status, create_by, create_time, remark
        FROM sys_post
        <where>
            <if test="postQo.postCode != null and postQo.postCode !=''">
                AND post_code LIKE CONCAT('%',#{postQo.postCode},'%')
            </if>
            <if test="postQo.postName != null and postQo.postName !=''">
                AND post_name LIKE CONCAT('%',#{postQo.postName},'%')
            </if>
            <if test="postQo.status != null and postQo.status !=''">
                AND status = #{postQo.status}
            </if>
        </where>
    </select>

    <select id="selectForList" resultType="com.you.system.domain.model.SysPost">
        SELECT post_id ,post_code ,post_name, post_sort, status, create_by, create_time, remark
        FROM sys_post
        <where>
            <if test="postQo.postCode != null and postQo.postCode !=''">
                AND post_code LIKE CONCAT('%',#{postQo.postCode},'%')
            </if>
            <if test="postQo.postName != null and postQo.postName !=''">
                AND post_name LIKE CONCAT('%',#{postQo.postName},'%')
            </if>
            <if test="postQo.status != null and postQo.status !=''">
                AND status = #{postQo.status}
            </if>
        </where>
    </select>
</mapper>
