<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.system.mapper.SysUserMapper">

    <select id="selectByUsername" resultType="com.you.system.model.SysUser">
        SELECT user_id, username, password, status
        FROM sys_user
        WHERE username = #{username}
          AND del_flag = 0
    </select>

    <select id="selectLoginUserByUserId" resultType="com.you.system.model.SysUser">
        SELECT user_id,
               dept_id,
               username,
               nickname,
               user_type,
               phone,
               email,
               sex,
               status
        FROM sys_user
        WHERE user_id = #{userId}
          AND del_flag = 0
    </select>

    <select id="ruleAllocatedListPage" resultType="com.you.system.model.SysUser">
        SELECT u.user_id, u.username, u.nickname, u.email, u.phone, u.create_time, u.status
        FROM sys_user AS u, sys_user_role AS sur
        <where>
            sur.role_id = #{qo.roleId}
            AND sur.user_id = u.user_id
            AND del_flag = 0
            <if test="qo.username != null and qo.username !=''">
                AND u.username LIKE CONCAT('%',#{qo.username},'%')
            </if>
            <if test="qo.phone != null and qo.phone !=''">
                AND u.phone LIKE CONCAT('%',#{qo.phone},'%')
            </if>
        </where>
        ORDER BY u.create_time
    </select>

    <select id="ruleUnallocatedListPage" resultType="com.you.system.model.SysUser">
        SELECT u.user_id, u.username, u.nickname, u.email, u.phone, u.create_time, u.status
        FROM sys_user AS u
        WHERE NOT EXISTS (SELECT 1 FROM sys_user_role AS sur WHERE sur.role_id = #{qo.roleId} AND sur.user_id =
        u.user_id)
        AND u.del_flag = 0
        <if test="qo.username != null and qo.username !=''">
            AND u.username LIKE CONCAT('%',#{qo.username},'%')
        </if>
        <if test="qo.phone != null and qo.phone !=''">
            AND u.phone LIKE CONCAT('%',#{qo.phone},'%')
        </if>
        ORDER BY u.create_time
    </select>

    <select id="listPage" resultType="com.you.system.domain.vo.SysUserVo">
        SELECT u.user_id, u.username, u.nickname, u.phone, u.create_time, u.status, d.dept_name
        FROM sys_user u
        LEFT JOIN sys_dept d ON d.dept_id = u.dept_id
        <where>
            u.del_flag = 0
            <if test="qo.deptId!= null">
                AND u.dept_id = #{qo.deptId}
            </if>
            <if test="qo.username!= null and qo.username!=''">
                AND u.username LIKE CONCAT('%',#{qo.username},'%')
            </if>
            <if test="qo.phone!= null and qo.phone!=''">
                AND u.phone LIKE CONCAT('%',#{qo.phone},'%')
            </if>
            <if test="qo.status!= null and qo.status != ''">
                AND u.status = #{qo.status}
            </if>
            <if test="qo.createTimeStart != null and qo.createTimeStart !=''">
                <if test="qo.createTimeEnd!= null and qo.createTimeEnd !=''">
                    AND u.create_time BETWEEN #{qo.createTimeStart} AND #{qo.createTimeEnd}
                </if>
            </if>
        </where>
    </select>
</mapper>
