<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.system.mapper.SysUserMapper">

    <select id="selectByUsername" resultType="com.you.system.model.SysUser">
        SELECT user_id, username, password, status
        FROM sys_user
        WHERE username = #{username}
          AND del_flag = 0
    </select>

    <select id="selectLoginUserByUserId" resultType="com.you.system.model.SysUser">
        SELECT user_id,
               dept_id,
               username,
               nickname,
               user_type,
               phone,
               email,
               sex,
               status
        FROM sys_user
        WHERE user_id = #{userId}
          AND del_flag = 0
    </select>

    <select id="ruleAllocatedListPage" resultType="com.you.system.model.SysUser">
        SELECT u.user_id, u.username, u.nickname, u.email, u.phone, u.create_time, u.status
        FROM sys_user AS u, sys_user_role AS sur
        <where>
            sur.role_id = #{qo.roleId}
            AND sur.user_id = u.user_id
            <if test="qo.username != null and qo.username !=''">
                AND u.username LIKE CONCAT('%',#{qo.username},'%')
            </if>
            <if test="qo.phone != null and qo.phone !=''">
                AND u.phone LIKE CONCAT('%',#{qo.phone},'%')
            </if>
        </where>
        ORDER BY u.create_time
    </select>
</mapper>
